@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
     
    --text: #ddf6fd;
    --background: #03222b;
    --primary: #90e0f9;
    --secondary: #021a22;
    --accent: #0db1e3;
    }
  }